{% extends 'list.html' %}
{% load static %}

{% block head_list %}

    <script src="{% static 'lib/moment-2.25.3/moment.js' %}"></script>
    <script src="{% static 'lib/daterangepicker-3.1/spanish.js' %}"></script>
    <script src="{% static 'lib/daterangepicker-3.1/daterangepicker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/daterangepicker-3.1/daterangepicker.css' %}"/>

    <link rel="stylesheet"
          href="{% static 'lib/datatables-1.10.20/plugins/buttons-1.6.1/css/buttons.bootstrap.min.css' %}"/>
    <script src="{% static 'lib/datatables-1.10.20/plugins/buttons-1.6.1/js/dataTables.buttons.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/jszip-2.5.0/jszip.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/pdfmake-0.1.36/pdfmake.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/pdfmake-0.1.36/vfs_fonts.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/buttons-1.6.1/js/buttons.html5.min.js' %}"
            type="text/javascript"></script>


    <script src="{% static 'cita/js/report.js' %}"></script>

{% endblock %}

{% block content %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-chart-bar"></i>
                {{ title }}
            </h3>
        </div>
        <div class="card-body">
            {# Filtro por calendario#}
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Rango de fechas:</label>
                        {{ form.date_range }}
                    </div>
                </div>
            </div>

            <hr>
            <ul>

                {% for sp in citas %}
                    <tr> {{ sp.especialidad__nombre }} </tr>
                    <tr>{{ sp.count }} </tr>

                {% endfor %}

            </ul>


            <table class="table" id="data">

                <thead>
                <tr>
                    <th scope="col">Id. Cita</th>
                    <th scope="col">Especialidad</th>
                    <th scope="col">Citas Atendidas</th>
                    {#                    AUMENTAR CAMPOS DEL TEMPLATE#}
                    {#                    <th scope="col"></th>#}
                    {#                    <th scope="col"></th>#}
                    {#                    <th scope="col"></th>#}
                </tr>
                </thead>
                <ul>

                    {% for sp in citas %}
                        <tr> {{ sp.especialidad__nombre }} </tr>
                        <tr>{{ sp.count }} </tr>

                    {% endfor %}

                </ul>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="{{ list_url }}" class="btn btn-success btn-flat">
                <i class="fas fa-sync"></i> Actualizar
            </a>
        </div>
    </div>

{% endblock %}

