{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col">Nro</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Identificacion</th>
        <th scope="col">Telefono</th>
        <th scope="col">Correo Electronico</th>
        <th scope="col">Dirección/th>
        <th scope="col">Ciudad de Nacimiento</th>
        <th scope="col">Ciudad de Residencia</th>
        <th scope="col">Fecha de Nacimiento</th>
        <th scope="col">Género</th>
        <th scope="col">Usuario</th>
        <th scope="col">Especialidad</th>
        <th scope="col">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

    {% for c in object_list %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.nombres }}</td>
            <td>{{ c.apellidos }}</td>
            <td>{{ c.identificacion }}</td>
            <td>{{ c.telefono }}</td>
            <td>{{ c.correo_electronico }}</td>
            <td>{{ c.direccion }}</td>
            <td>{{ c.ciudad_nacimiento }}</td>
            <td>{{ c.ciudad_residencia }}</td>
            <td>{{ c.fecha_nacimiento }}</td>
            <td>{{ c.genero }}</td>
            <td>{{ c.usuario_hosdigital }}</td>
            <td>{{ c.especialidad }}</td>
            <td>
                <a href="{% url 'hosdigital:especialidad_updateview' c.id %}" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'hosdigital:especialidad_delete' c.id %}" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}