{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col">Nro</th>
        <th scope="col">Motivo</th>
        <th scope="col">Paciente</th>
        <th scope="col">Especialidad</th>
        <th scope="col">Disponibilidad</th>
        <th scope="col">Estado</th>
        <th scope="col">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

    {% for c in object_list %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.motivo }}</td>
            <td>{{ c.persona }}</td>
            <td>{{ c.especialidad }}</td>
            <td>{{ c.disponibilidad }}</td>
            <td>{{ c.estado_cita }}</td>
            <td>
                <a href="{% url 'hosdigital:cita_updateview' c.id %}" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'hosdigital:cita_delete' c.id %}" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}