{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href=" {% static 'lib/bootstrap-5.2.3-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'lib/bootstrap-5.2.3-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap-5.2.3-dist/js/jquery.min.js' %}"></script>
</head>
<body>

<button type="button" class="btn">Basic</button>
<button type="button" class="btn btn-default">Default</button>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-link">Link</button>

<img src="{% static 'lib/img/cristian.png' %}" class="img-fluid img-thumbnail">


<div class="container-fluid">
    <h1>My First Bootstrap Page</h1>
    <p>This part is inside a .container-fluid class.</p>
    <p>The .container-fluid class provides a full width container, spanning the entire width of the viewport.</p>
</div>

</body>
</html>
