<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Comentado if
<h1>
    {% if Especialidades %}

        SI HAY DATOS
    {% else %}
        NO HAY DATOS

    {% endif %}
</h1>
-->

<h1>MI PRIMERA PAGINA WEB</h1>



{% block content %}

    <a href=" {% url ''%}"> click</a>

    <ul>

        {% for Especialidad in Especialidades %}
            <li>{{ Especialidad.id }} / {{ Especialidad.descripcion }}</li>

        {% endfor %}

    </ul>
{% endblock %}





<p> {{ Nombre }}</p>

</body>
</html>