{% extends 'indexejemplo.html' %}

{% block content %}
<ul>
        {% for Medico in Medicos %}
            <li>{{ Medico.id }} / {{ Medico.nombre }} / {{ Medico.especialidad.descripcion }}</li>

        {% endfor %}
    </ul>
{% endblock %}
